:root {
  --Blue-Huntington: #00b0d8;
  --Magenta-Huntington: #eb526e;
  --Green-Huntington: #a2c746;
  --Orange-Huntington: #f5a732;
  --Gray-Huntington: #717171;
  --Blue-dark-Huntington: #005ca1;
  --Blue-light-Huntington: #98c6e9;
  --Black: #101010;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

summary::marker {
  display: none;
  -webkit-appearance: none;
  list-style: none;
}

details summary {
  list-style: none;
}

details[open] summary .open {
  display: none;
}

details summary .open {
  display: flex;
}

details[open] summary .close {
  display: flex;
}

details summary .close {
  display: none;
}

#newsletter {
  #rd-row-m4wumrpx .bricks--column > div {
    padding: 0px;
  }

  #rd-section-m4wumrps {
    background-color: transparent;
  }

  #rd-form-m4wumrpz .bricks-form__field.bricks-form__privacy {
    display: none;
  }

  #rd-form-m4wumrpz .bricks-form__field.bricks-form__terms {
    display: none;
  }

  #rd-form-m4wumrpz .bricks-form__input:not(textarea) {
    height: 45px;
    background-color: transparent;
    border-radius: 8px;
    padding-left: 16px;
    font-size: 12px;

    ::placeholder {
      color: white;
      font-size: 12px;
    }
  }

  @media (min-width: 1024px) {
    #rd-form-m4wumrpz .bricks-form__input:not(textarea) {
      font-size: 14px;

      ::placeholder {
        font-size: 14px;
      }
    }
  }

  #rd-form-m4wumrpz .bricks-form__input:not(textarea):focus-visible {
    outline: none;
  }

  #rd-button-m4wumrq4.bricks--component-button {
    text-transform: uppercase;
    height: 40px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    font-family: "Rubik";
  }

  #rdstation-bricks-embeddable-form-bricks-component-Jv__gyc6ms9y-ShGmQ4NMA
    .bricks-form {
    padding: 0px;
  }

  #rd-form-m4wumrpz .bricks-form__fieldset {
    width: 100%;
  }

  #conversion-form-newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#bricks-component-QrNJ4vRc1wb4e3Re5h5Egw-wrapper {
  display: none;
}

.btn-programacao .date {
  font-weight: 300;
}

.btn-programacao input:checked ~ label {
  background-image: linear-gradient(90deg, #b04ee1 0%, #01afd9 100%);

  .date {
    font-weight: 500;
  }
}

.sala-checked input:checked ~ label {
  background: linear-gradient(90deg, #b04ee1 0%, #01afd9 100%) !important;
}

@media (max-width: 1024px) {
  .div-como-chegar {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(11, 240, 202, 0.3) 100%
    ) !important;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  animation: spin 2s linear infinite;
}

summary::-webkit-details-marker {
  display: none;
}
